{% extends 'base/base.html' %}

{% load static %}

{% block title %}
      <title> about </title>
    {% endblock title %}


{% block content %}

	<!-- ticker-news-section
			================================================== -->
  
      <!-- End ticker-news-section -->
  
      <!-- block-wrapper-section
        ================================================== -->
      <div style="margin-left:300px">
      <section class="block-wrapper ">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 content-blocker">
  
              <!-- block content -->
              <div class="block-content">
  
                <!-- single-post box -->
                <div class="single-post-box">
  
                  
  
                  <div class="share-post-box">
                    <ul class="share-box">
                      {% for social in sociaux %}
                      <li><a href="{{ social.lien }}" class="{{ social.nom }}"><i class="{{ social.icon }}"></i></a></li>
  
                    {% endfor %}
                    </ul>
                  </div>
  
                  <div class="post-gallery">
                    <ul class="bxslider">
                      {% for photo in gallerie %}

                      <li><img src="{{ photo.image.url }}" alt=""></li>

                      {% endfor %}
                    </ul>
                    <span class="image-caption">Cras eget sem nec dui volutpat ultrices.</span>
                  </div>
  
                  <div class="post-content">
  
                    {{ article.contenu }}
                  </div>
            </div>
          </div>
        </div>

      </section>
    </div>
{% endblock %}