{% load static %}

<!doctype html>
<html lang="en" class="no-js">
<head>
	{% block title %}
      
    {% endblock title %}

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bxslider.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}" media="screen">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'css/ticker-style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen">

</head>
<body>

	<!-- Container -->
	<div id="container">

		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<!-- Bootstrap navbar -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation">

				<!-- Top line -->


				<!-- Logo & advertisement -->
				<div class="logo-advertisement">
					<div class="container">

						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="{% url 'index' %}"><img src="{{  presentation.logo.url }}" alt=""></a>
						</div>

					</div>
				</div>
				<!-- End Logo & advertisement -->

				<!-- navbar list container -->
				<div class="nav-list-container">
					<div class="container">
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-left">

							
								<li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Acceuil</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Contacts</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">A propos</a></li>
								
								{% if  request.user.is_authenticated %}

								<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> {{ user.username }}  Deconnexion</a></li>

								{% else %} 
								<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Connexion</a></li>

								{% endif %}

							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</div>
				</div>
				<!-- End navbar list container -->

			</nav>
			<!-- End Bootstrap navbar -->

		</header>
		<!-- End Header -->
        <br>
        <br>
		{% block content %}
          
        {% endblock content %}



		<!-- footer 
			================================================== -->
		<footer>
			<div class="container">
				<div class="footer-widgets-part">
					<div class="row">
						<div class="col-md-4">
							<div class="widget text-widget">
								<h1>About</h1>
								<p>{{ article.description }}</p>
								<a href="{% url 'index' %}"><img src="{{ presentation.logo.url }}" alt=""></a>
							</div>
						</div>
						<div class="col-md-4">
							<div class="widget social-widget">
								<h1>Stay Connected</h1>
								<ul class="social-icons">
									{% for social in sociaux %}
										<li><a href="{{ social.lien }}" class="{{ social.nom }}"><i class="{{ social.icon }}"></i></a></li>

									{% endfor %}
									
								</ul>
							</div>
						</div>
						
						<div class="col-md-4">
							<div class="widget flickr-widget">
								<h1>Flickr Photos</h1>
								<ul class="flickr-list">
									{% for photo in gallerie %}
									<li><img src="{{ photo.image.url }}" alt="" height="100px" width="100px"></li>

									{% endfor %}
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-last-line">
					<div class="row">
						<div class="col-md-6">
							<p>&copy; COPYRIGHT 2020 Franck & Co. All right reserved</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->
	
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/jquery.migrate.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/jquery.ticker.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/jquery.imagesloaded.min.js' %} "></script>
  	<script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/theia-sticky-sidebar.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/sticky.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/retina-1.1.0.min.js' %} "></script>
	<script type="text/javascript" src="{% static 'js/script.js' %} "></script>

</body>
</html>
