{% extends 'base/base.html' %}

{% load static %}

{% block title %}
      <title> index </title>
    {% endblock title %}

{% block content %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron" style="background-image: url( {{ presentation.image.url }});background-position:center;background-size:cover;">
      <div class="container text-center" style="color: azure;">
        <h1>Application de gestion de contact</h1>
        <p style="color: black;">
          {{ presentation.slogan }}
        </p>
        <br>

          <a href="{% url 'register' %}" class="btn btn-info"> Créez mes contacts </a>
      </div>
    </div>

  
{% endblock %}