{% extends 'base/base.html' %}

{% block title %}
      <title> delete_contact</title>
    {% endblock title %}

{% block content %}

<div class="row">
    <div style="margin: auto 300px;">
        <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                <div class="alert alert-danger" role="alert">
                    Etes-vous sur de vouloir supprimer {{ contact }}
                </div>
                <div class="text-center">
                    <button class="btn btn-danger" type="submit">OUI</button>
                    <a href="{% url 'contacts' %}" class="btn btn-info">NON</a>
                </div>
                

            </form>
        </div>
    </div>
</div>
    <br>
{% endblock %}
    